{% extends 'base.html' %}

{% load worktracker_tags %}

{% block title %}<title>Time track controls</title>{% endblock %}

{%block content%}
    <div class="container">
    {% if time_block %}
        <h1>Current block</h1>
        <div class="row">
            <div class="col-3">
                {{time_block.project}}
            </div>
            <div class="col-3">
                {{time_block.cat}}
            </div>
            <div class="col-3">
                {{time_block.duration|hhmm}}
            </div>
        <div class="row">
            <div class="col-12">
                <form action="{%url 'worktracker:stop'%}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <button class="btn btn-primary">Stop</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>Start block</h1>
        <div class="row">
            <div class="col-12">
                <form action="{%url 'worktracker:start'%}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{start_form.as_p}}
                        <button class="btn btn-primary">Start</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {%comment%} Not currently working in view
	<h1>Recent blocks</h1>
        <div class="row">
            <div class="col-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <table class="table">
                        {{form.as_table}}
                        </table>
                        <button class="btn btn-primary">View</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table">
        <tr><th>Project</th><th>Client</th><th>Time</th></tr>
        {% for recent_block in recent_blocks %}
            <tr><td>{{recent_block.project.name}}</td><td>{{recent_block.project.client.name}}</td><td>{{recent_block.duration}}</td></tr>
        {% endfor %}
    </table>
    {%endcomment%}
{% endblock %}