{% extends 'base.html' %}

{% load worktracker_tags %}

{% block title %}<title>Time track report</title>{% endblock %}

{%block content%}
    <div class="container">
        <h1>Report by project</h1>
        <div class="row">
            <div class="col-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <table class="table">
                        {{form.as_table}}
                        </table>
                        <button class="btn btn-primary">View</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table">
        <tr><th>Project</th><th>Total Time</th></tr>
        {% for project in projects %}
            <tr><td>{{project}}</td><td>{{project.total_time|hhmm}}</td></tr>
        {% endfor %}
	<tr><th>Total</th><td>{{grand_total|hhmm}}</td></tr>
    </table>
{% endblock %}
